.service-section {
    position: relative;
    z-index: 9;

    .container-fluid {
        padding: 0 175px;

        @include breakpoint (max-xxxl){
           padding: 0 30px;
        }

        @include breakpoint (max-xl){
            padding: 0 20px;
        }
    }

    .array-button {
        @include breakpoint (max-xl){
            display: none;
        }
        
        .array-prev {

            background-color: $white;
            color: $header-color;
            position: absolute;
            left: 18%;
            top: 20%;
            transform: translate(-50%, -50%);
            z-index: 99;

            &:hover {
                background-color: $header-color;
                color: $white;
            }
        }

        .array-next {
            background-color: transparent;
            color: $white;
            border: 1px solid $white;
            position: absolute;
            right: 18%;
            top: 20%;
            transform: translate(-50%, -50%);
            z-index: 99;

            &:hover {
                background-color: $theme-color;
            }
        }

        &.style-2 {
            .array-prev {
                background-color: $white;
                color: $header-color;
                border: none;
    
                &:hover {
                    background-color: $theme-color;
                    color: $white;
                }
            }
    
            .array-next {
                background-color: $theme-color;
                color: $white;
                border: none;

                &:hover {
                    background-color: $white;
                    color: $header-color;
                }
            }
        }
    }

    .bg-shape {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: .1;
        z-index: -1;
    }

    .service-pagi-items {
        @include flex;
        justify-content: space-between;
        margin-top: 40px;

        @include breakpoint (max-md){
            justify-content: center;
            margin-top: 20px;
        }

        .service-dot {
            .swiper-pagination-bullet {
                width: 150px;
                height: 3px;
                border-radius: 0;
                background: $white;
                opacity: 1;
                transition: 0.6s;
                margin: 0 !important;
            }
    
            .swiper-pagination-bullet-active {
                opacity: 1;
                background: $theme-color;
            }
    
            @include breakpoint (max-md){
                display: none;
            }
        }
    
        .array-buttons {
            @include flex;
            gap: 10px;
    
            .array-prev {
                color: $white;
            }
    
            .array-next {
                color: $theme-color;
            }
        }
    }
}

.service-box-items {
    margin-top: 30px;
    background-color: $white;

    .service-thumb {
        padding: 18px 18px 65px 18px;
        position: relative;

        img {
            @include imgw;
        }

        .icon {
            position: absolute;
            bottom: 30px;
            left: 40px;
            width: 68px;
            height: 68px;
            text-align: center;
            background-color: $white;
            box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.06);
            padding: 14px;
        }
    }

    .service-content {
       padding: 0 30px 30px 30px;
       position: relative;

       .number {
            text-align: right;
            -webkit-text-stroke: 1px rgba(102, 102, 102, 0.5);
            -webkit-text-fill-color: transparent;
            @include transition;
            font-size: 50px;
            font-weight: 700;
            position: absolute;
            right: 30px;
            top: -50px;

            &:hover {
                -webkit-text-stroke: 1px rgba(245, 91, 31, 0.5);
            }
       }

       h3 {
            margin-bottom: 15px;

            a {
                &:hover {
                    color: $theme-color;
                }
            }
       }

       p {
            border-bottom: 1px solid $border-color;
            padding-bottom: 20px;
            margin-bottom: 20px;
       }
    }

    &:hover {
        .service-content {
            .number {
                -webkit-text-stroke: 1px rgba(245, 91, 31, 0.5);
           }
        }
    }
}

.service-card-items {
    margin-top: 30px;
    background-color: $white;
    text-align: center;
    padding: 40px;
    position: relative;
    z-index: 9;

    .items-shape {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;

        img {
            @include imgw;
        }
    }

    .icon {
        width: 68px;
        height: 68px;
        text-align: center;
        line-height: 60px;
        text-align: center;
        border: 1px solid rgba(30, 32, 35, .15);
        margin: 0 auto;
        font-size: 36px;
        @include transition;
    }

    .content {
        margin-top: 20px;

        h3 {
            margin-bottom: 10px;
        }

        p {
            border-bottom: 1px solid rgba(30, 32, 35, .15);
            padding-bottom: 20px;
            font-weight: 400;
        }

        .link-btn {
            color: $header-color;
            margin-top: 20px;
            @include transition;
        }
    }

    .service-image {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        @include transition;
        opacity: 0;
        visibility: hidden;

        &::before {
            @include before;
            opacity: 0.75;
            background: linear-gradient(180deg, #F55B1F 0%, #F55B1F 100%);
        }

        img {
            @include imgw;
        }
    }

    .bar-shape {
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
    }

    &:hover {
        .icon {
           background-color: $white;
        }

        .content {
            margin-top: 20px;
    
            h3 {
                a {
                    color: $white;
                }
            }
    
            p {
                border-bottom: 1px solid rgba(255, 255, 255, .35);
                color: $white;
            }
    
            .link-btn {
                color: $white;
            }
        }

        .service-image {
            opacity: 1;
            visibility: visible;
        }
    }
}

.service-details-wrapper {
    margin-bottom: -5px;
    
    .service-details-image {

        img {
            @include imgw;
        }
    }

    .service-details-content {
        margin-top: 30px;

        h2 {
            margin-bottom: 20px;
        }

        p {
            font-weight: 400;
        }

        .details-list {
            margin-top: 25px;

            li {
                font-weight: 500;
                font-size: 16px;
                color: $header-color;

                &:not(:last-child){
                    margin-bottom: 15px;
                }

                i {
                    color: $theme-color;
                    margin-right: 12px;
                }
            }
        }

        h4 {
            font-size: 38px;
            margin-top: 30px;

            @include breakpoint (max-sm){
                font-size: 32px;
            }
        }

        .service-details-box {
            border: 1px solid $border-color-2;
            padding: 30px 30px;
            @include transition;

            &:hover {
                border: 1px solid $theme-color;
            }

            .icon {
                @include flex;
                gap: 16px;
                margin-bottom: 14px;

                i {
                    color: $theme-color;
                    font-size: 28px;
                }
            }

            p {
                font-weight: 400;
            }
        }
    }
}